body {
  background-color: black;
  color: white;
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-weight: bold;
  font-size: 25px;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button,
.auto-play-button {
  border: none;
  background-color: white;
  padding: 8px 15px;
  font-size: 15px;
  cursor: pointer;
}

.js-reset-conformation-yes,
.js-reset-conformation-no {
  padding: 8px 13px 8px 13px;
  margin: 2px;
  font-size: 14px;
}
